<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>BTC Real Time Price</title>
        
        <style type="text/css" media="all">
            body {
                background-color: black;    
            }
            
            div {
                color: white;
                font-size: 20px;
                text-align: center;
                font-family: 'Inconsolata', monospace;
                margin-top: 50%;
            }
            
            #bitcoin-letter {
                color: orange;
                font-size: 80px;
            }
        </style>
        
    </head>
    <body>
        <div>
            <h1 id="bitcoin-letter">₿</h1>
            <h1>Bitcoin Price</h1>    
            <h2>USD : {{btc_price}}</h2>
        </div>
    </body>
</html>